scripts/nodered-dashboard-flow.json
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "Controller Dashboard",
    "disabled": false,
    "info": "Simple electrolysis-controller dashboard: buttons, slider, gauges."
  },
  {
    "id": "broker1",
    "type": "mqtt-broker",
    "name": "mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-dashboard",
    "usetls": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "ui_tab1",
    "type": "ui_tab",
    "name": "Controller",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_cmds",
    "type": "ui_group",
    "name": "Commands",
    "tab": "ui_tab1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_sensors",
    "type": "ui_group",
    "name": "Live Readings",
    "tab": "ui_tab1",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "btn_start",
    "type": "ui_button",
    "z": "flow1",
    "name": "Start",
    "group": "ui_group_cmds",
    "order": 1,
    "width": 2,
    "height": 1,
    "label": "▶ Start",
    "tooltip": "Start the electrolysis process",
    "color": "",
    "bgcolor": "#2d8a2d",
    "icon": "",
    "payload": "{\"command\":\"start\"}",
    "payloadType": "json",
    "topic": "",
    "topicType": "str",
    "x": 120,
    "y": 100,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "btn_stop",
    "type": "ui_button",
    "z": "flow1",
    "name": "Stop",
    "group": "ui_group_cmds",
    "order": 2,
    "width": 2,
    "height": 1,
    "label": "■ Stop",
    "tooltip": "Stop the process (clears fault state)",
    "color": "",
    "bgcolor": "#c0392b",
    "icon": "",
    "payload": "{\"command\":\"stop\"}",
    "payloadType": "json",
    "topic": "",
    "topicType": "str",
    "x": 120,
    "y": 160,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "btn_estop",
    "type": "ui_button",
    "z": "flow1",
    "name": "E-Stop",
    "group": "ui_group_cmds",
    "order": 3,
    "width": 2,
    "height": 1,
    "label": "⚡ E-Stop",
    "tooltip": "Emergency stop — cuts relay and PWM immediately",
    "color": "#ffffff",
    "bgcolor": "#8b0000",
    "icon": "",
    "payload": "{\"command\":\"estop\"}",
    "payloadType": "json",
    "topic": "",
    "topicType": "str",
    "x": 120,
    "y": 220,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "slider_current",
    "type": "ui_slider",
    "z": "flow1",
    "name": "Target Current",
    "group": "ui_group_cmds",
    "order": 4,
    "width": "6",
    "height": 1,
    "label": "Target Current (A)",
    "tooltip": "0 – 20 A",
    "color": "",
    "min": 0,
    "max": 20,
    "step": 0.5,
    "outs": "end",
    "x": 140,
    "y": 280,
    "wires": [["fn_set_param"]]
  },
  {
    "id": "fn_set_param",
    "type": "function",
    "z": "flow1",
    "name": "set_param payload",
    "func": "msg.payload = {\n  command: \"set_param\",\n  params: { target_current: msg.payload }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 280,
    "wires": [["mqtt_cmd"]]
  },
  {
    "id": "mqtt_cmd",
    "type": "mqtt out",
    "z": "flow1",
    "name": "→ controller/command",
    "topic": "controller/command",
    "qos": "0",
    "retain": "false",
    "broker": "broker1",
    "x": 560,
    "y": 180,
    "wires": []
  },
  {
    "id": "mqtt_state_in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "controller/state",
    "topic": "controller/state",
    "qos": "0",
    "datatype": "json",
    "broker": "broker1",
    "x": 120,
    "y": 420,
    "wires": [["fn_split"]]
  },
  {
    "id": "fn_split",
    "type": "function",
    "z": "flow1",
    "name": "extract readings",
    "func": "var m = msg.payload.measurements || {};\nvar mode = msg.payload.mode || '—';\nreturn [\n  [{ payload: m.voltage_V   ?? 0 }],\n  [{ payload: m.current_A   ?? 0 }],\n  [{ payload: m.power_W     ?? 0 }],\n  [{ payload: m.temp_cell_C ?? 0 }],\n  [{ payload: m.temp_amb_C  ?? 0 }],\n  [{ payload: mode }]\n];",
    "outputs": 6,
    "noerr": 0,
    "x": 320,
    "y": 420,
    "wires": [
      ["gauge_voltage"],
      ["gauge_current"],
      ["gauge_power"],
      ["gauge_temp_cell"],
      ["gauge_temp_amb"],
      ["text_mode"]
    ]
  },
  {
    "id": "gauge_voltage",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Voltage",
    "group": "ui_group_sensors",
    "order": 1,
    "width": 3,
    "height": 3,
    "label": "Cell Voltage",
    "gtype": "gage",
    "suffix": "V",
    "min": "0",
    "max": "35",
    "seg1": "25",
    "seg2": "30",
    "x": 540,
    "y": 360,
    "wires": []
  },
  {
    "id": "gauge_current",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Current",
    "group": "ui_group_sensors",
    "order": 2,
    "width": 3,
    "height": 3,
    "label": "Cell Current",
    "gtype": "gage",
    "suffix": "A",
    "min": "0",
    "max": "25",
    "seg1": "18",
    "seg2": "20",
    "x": 540,
    "y": 400,
    "wires": []
  },
  {
    "id": "gauge_power",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Power",
    "group": "ui_group_sensors",
    "order": 3,
    "width": 3,
    "height": 3,
    "label": "Power",
    "gtype": "gage",
    "suffix": "W",
    "min": "0",
    "max": "600",
    "seg1": "400",
    "seg2": "500",
    "x": 540,
    "y": 440,
    "wires": []
  },
  {
    "id": "gauge_temp_cell",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Cell Temp",
    "group": "ui_group_sensors",
    "order": 4,
    "width": 3,
    "height": 3,
    "label": "Cell Temp",
    "gtype": "gage",
    "suffix": "°C",
    "min": "0",
    "max": "80",
    "seg1": "50",
    "seg2": "60",
    "x": 540,
    "y": 480,
    "wires": []
  },
  {
    "id": "gauge_temp_amb",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Ambient Temp",
    "group": "ui_group_sensors",
    "order": 5,
    "width": 3,
    "height": 3,
    "label": "Ambient Temp",
    "gtype": "gage",
    "suffix": "°C",
    "min": "0",
    "max": "60",
    "seg1": "40",
    "seg2": "50",
    "x": 540,
    "y": 520,
    "wires": []
  },
  {
    "id": "text_mode",
    "type": "ui_text",
    "z": "flow1",
    "name": "Mode",
    "group": "ui_group_sensors",
    "order": 6,
    "width": "6",
    "height": 1,
    "label": "Mode",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 540,
    "y": 560,
    "wires": []
  }
]
